<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container my-5 rounded-3">
  <div class="calculadora text-end pe-3 ps-3">
    <input
      type="text"
      name="resultado"
      id="resultado"
      class="form-control text-end rounded-2 w-100 ms-1 mt-3"
      value="{{resultado}}"
      disabled
    />
    <div class="row d-flex flex-row-reverse">
      <button id="c" (click)="limpiar()" class="col-12 w-25 btn btn-danger ms-2 me-2 mt-2 mb-2 rounded-2">
        C
      </button>
    </div>
    <div class="row">
      <button id="7" (click)="generarExpresion('7')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        7
      </button>
      <button id="8" (click)="generarExpresion('8')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        8
      </button>
      <button id="9" (click)="generarExpresion('9')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        9
      </button>
      <button id="/" (click)="generarExpresion('/')" class="col btn btn-secondary ms-1 me-1 mt-1 mb-1">
        /
      </button>
    </div>
    <div class="row">
      <button id="4" (click)="generarExpresion('4')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        4
      </button>
      <button id="5" (click)="generarExpresion('5')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        5
      </button>
      <button id="6" (click)="generarExpresion('6')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        6
      </button>
      <button id="*" (click)="generarExpresion('*')" class="col btn btn-secondary ms-1 me-1 mt-1 mb-1">
        *
      </button>
    </div>
    <div class="row">
      <button id="1" (click)="generarExpresion('1')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        1
      </button>
      <button id="2" (click)="generarExpresion('2')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        2
      </button>
      <button id="3" (click)="generarExpresion('3')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        3
      </button>
      <button id="-" (click)="generarExpresion('-')" class="col btn btn-secondary ms-1 me-1 mt-1 mb-1">
        -
      </button>
    </div>
    <div class="row">
      <button id="0" (click)="generarExpresion('0')" class="col btn btn-primary ms-1 me-1 mt-1 mb-1">
        0
      </button>
      <button id="." (click)="generarExpresion('.')" class="col btn btn-secondary ms-1 me-1 mt-1 mb-1">
        .
      </button>
      <button id="+" (click)="generarExpresion('+')" class="col btn btn-secondary ms-1 me-1 mt-1 mb-1">
        +
      </button>
      <button id="=" (click)="calcular()" class="col btn btn-success ms-1 me-1 mt-1 mb-1">
        =
      </button>
    </div>
    <p class="mt-4">{{mensaje}}</p>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

